/src/docs/book
/src/docs/appendix/changelog.md
target
/.cargo

# Android stuff.
*.iml
.gradle
local.properties
.idea
build
captures
.externalNativeBuild

# iOS stuff.
xcuserdata
raw_xcode*log
/bindings/swift/Glean/Generated
/bindings/swift/Pipfile
/bindings/swift/Pipfile.lock
/bindings/swift/.venv

# Carthage build artifacts
Cartfile.resolved
Carthage

# OS stuff
.DS_Store
*.dSYM

# Python stuff
*.egg-info
dist/

# C# stuff
*.suo
*.user
*.pubxml
/bindings/csharp/*/bin/
/bindings/csharp/*/obj/
/bindings/csharp/.vs/
# The 'build' dir is generally disallowed,
# but we need to allow it here to enable our
# csharp custom task.
!/bindings/csharp/Glean/build/
/bindings/csharp/Glean/.venv/
/src/samples/csharp/bin/
/src/samples/csharp/obj/
/src/samples/csharp/.vs/
/src/samples/csharp/.venv/

# local stuff
data/
glean_app*
!glean_app.c

src/samples/ios/app/.venv/
.mypy_cache/
.coverage
htmlcov/
*.log

__pycache__
*.py[cod]
.Python
